@model ZEVMSWEB.Common.PaginatedList<ZEVMSWEB.Models.Entities.Characters>
@{
    Layout = "_Layout_Zevms027";
    ViewData["Title"] = "蘑菇仔 - Zevms027";
}

<div class="zevms_container">
    花木成畦手自栽
</div>