body {
    background: url(../img/bg2.jpg) no-repeat center top fixed;
}

header {
    opacity: 0.95;
}

.zevms_bg {
    background: url(../img/nav_bg2.png) no-repeat center top;
}

.zevms_nav {
    position: relative;
    padding-top: 156px;
    margin: 0 auto;
    width: 280px;
    text-align: center;
    font-size: 0;
}

    .zevms_nav a {
        display: inline-block;
        margin-top: 8px;
        width: 27px;
        height: 95px;
        background: url(../img/WorldSelect.BtWorld.e.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav span {
        display: inline-block;
        margin-top: 8px;
        width: 27px;
        height: 97px;
        background: url(../img/WorldSelect.BtWorld.e.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a.active {
        position: relative;
        top: 6px;
        display: inline-block;
        width: 27px;
        height: 95px;
    }

    .zevms_nav a#nav_item_lwn {
        background: url(../img/WorldSelect.BtWorld.0.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_mgz {
        background: url(../img/WorldSelect.BtWorld.1.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_lsl {
        background: url(../img/WorldSelect.BtWorld.2.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_ppz {
        background: url(../img/WorldSelect.BtWorld.3.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_xqs {
        background: url(../img/WorldSelect.BtWorld.4.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_hpx {
        background: url(../img/WorldSelect.BtWorld.5.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_dhg {
        background: url(../img/WorldSelect.BtWorld.6.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_zyg {
        background: url(../img/WorldSelect.BtWorld.7.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_wph {
        background: url(../img/WorldSelect.BtWorld.8.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_xjl {
        background: url(../img/WorldSelect.BtWorld.9.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_pqe {
        background: url(../img/WorldSelect.BtWorld.10.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_bxr {
        background: url(../img/WorldSelect.BtWorld.11.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_str {
        background: url(../img/WorldSelect.BtWorld.12.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_zsm {
        background: url(../img/WorldSelect.BtWorld.13.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_dhl {
        background: url(../img/WorldSelect.BtWorld.14.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_xbt {
        background: url(../img/WorldSelect.BtWorld.15.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_phl {
        background: url(../img/WorldSelect.BtWorld.16.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_hyz {
        background: url(../img/WorldSelect.BtWorld.17.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_qey {
        background: url(../img/WorldSelect.BtWorld.18.disabled.0.png) no-repeat center bottom;
    }

    .zevms_nav a#nav_item_hmg {
        background: url(../img/WorldSelect.BtWorld.19.disabled.0.png) no-repeat center bottom;
    }

.zevms_login_panel {
    margin-top: 12px;
    padding: 12px;
    border: 2px solid #9D894C;
    border-radius: 16px;
    background-color: #f7fed8;
    opacity: .94;
}

.zevms_container {
    margin-top: 12px;
    padding: 12px;
    border: 2px solid #9D894C;
    border-radius: 16px;
    background-color: #f7fed8;
    opacity: .94;
    min-height: 100px;
}

.zevms_eqp_panel_0 {
    margin-bottom: 4px;
    padding: 12px;
    border: 1px solid #ededed;
    border-radius: 8px;
    background-color: #ffffff;
    color: #808080;
}

.zevms_eqp_panel_1 {
    margin-bottom: 4px;
    padding: 12px;
    border: 1px solid #afdeff;
    border-radius: 8px;
    background-color: #d8f1ff;
    color: #3e66d2;
}

.zevms_eqp_panel_2 {
    margin-bottom: 4px;
    padding: 12px;
    border: 1px solid #ffbff1;
    border-radius: 8px;
    background-color: #fcebfa;
    color: #d270dd;
}

.zevms_eqp_panel_3 {
    margin-bottom: 4px;
    padding: 12px;
    border: 1px solid #c8a2ff;
    border-radius: 8px;
    background-color: #dfc9ff;
    color: #7e34bf;
}

.zevms_eqp_panel_4 {
    margin-bottom: 4px;
    padding: 12px;
    border: 1px solid #ffb100;
    border-radius: 8px;
    background-color: #ffb100;
    color: #fff4b3;
}

.zevms_eqp_panel_5 {
    margin-bottom: 4px;
    padding: 12px;
    border: 1px solid #7b7b7b;
    border-radius: 8px;
    background-color: #c4c4c4;
    color: #575656;
}

.zevms_eqp_panel_6 {
    margin-bottom: 4px;
    padding: 12px;
    border: 1px solid #292929;
    border-radius: 8px;
    background-color: #292929;
    color: #a9a9a9;
}

.zevms_eqp_panel_7 {
    margin-bottom: 4px;
    padding: 12px;
    border: 1px solid #292929;
    border-radius: 8px;
    background-color: #292929;
    color: #ffda68;
}

.zevms_eqp_panel_8 {
    margin-bottom: 4px;
    padding: 12px;
    border: 1px solid #292929;
    border-radius: 8px;
    background-color: #292929;
    color: #ffda68;
}

.zevms_eqp_panel_9 {
    margin-bottom: 4px;
    padding: 12px;
    border: 1px solid #292929;
    border-radius: 8px;
    background-color: #292929;
    color: #ffda68;
}

.zevms_eqp_panel_10 {
    margin-bottom: 4px;
    padding: 12px;
    border: 1px solid #292929;
    border-radius: 8px;
    background-color: #292929;
    color: #ffda68;
}